<% layout('layouts/boilerplate') %>
<div class="d-flex justify-content-center align-items-center mt-5">
    <div class="card " style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title" style="text-align: center; border-bottom: 1px solid hsl(232, 56%, 56%);"> <%= reqRoadmap.title %>  </h5>
          <div class="card-text">UniqueId </div>
          <div class="d-flex">
              <h6 class="card-subtitle my-3 js-target"><%= reqRoadmap._id %> </h6>
          </div>
          <h6 class="card-subtitle my-3 text-muted"> Author: <%= reqRoadmap.author.name %> </h6>
            <p class="card-text"> <%= reqRoadmap.description %> </p>
            <p class="card-text">Subsection Count: <%= reqRoadmap.section.length %> </p>
        </div>
    </div>
</div>