<% layout('layouts/boilerplate') %>

<div class="container">
    <div class="row d-flex justify-content-center align-items-center mt-4">
       <h1 style="text-align: center;"> <%= reqSection.heading %> </h1> 
    </div>
</div>

<!-- ADD SUBSECTION BUTTON -->
<div style="display: flex; justify-content: center;">
    <button class="btn btn-primary" type="button"data-bs-toggle="dropdown"aria-expanded="false" data-bs-offset="5,10">
        <i class="bi bi-plus-circle-fill"></i> &nbsp Add Subsection
    </button>
    <ul class="dropdown-menu">
        <li>
            <button type="button" class="btn btn-white btn-sm d-flex align-items-center justify-content-center li-items" data-bs-toggle="modal"data-bs-target="#addText" style="width: 100%;">
                Add Text
            </button>
        </li>
        <li>
            <button type="button" class="btn btn-white btn-sm d-flex align-items-center justify-content-center li-items" data-bs-toggle="modal"data-bs-target="#addLink" style="border-top: 1px solid black; width: 100%;">
                Add Link                
            </button>
        </li>
    </ul>
</div>

<!-- ADD TEXT MODAL -->
<div class="modal fade" id="addText" tabindex="-1" aria-labelledby="textModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-body">
        <form action="/private/<%=roadmapId%>/subsection/<%= reqSection._id%>/add" method="POST" novalidate class="validated-form">
            <div class="mb-3">
              <label class="form-label" for="subsection">Add Text : </label>
              <input id="subsection" class="form-control" placeholder="Add subsection ..." name="heading" required>
              <div class="valid-feedback">
                Looks Good !
              </div>
              <div class="invalid-feedback">
                Please enter a valid heading.
              </div>
            </div>
            <div class="modal-footer container d-flex justify-content-center align-items-center">
              <button class="btn btn-success ">Add</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </form>
        </div>
      </div>
    </div>
</div>

<!-- ADD LINK MODAL -->
<div class="modal fade" id="addLink" tabindex="-1" aria-labelledby="textModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-body">
        <form action="/private/<%=roadmapId%>/subsection/<%= reqSection._id%>/add" method="POST" novalidate class="validated-form">
            <div class="mb-3">
              <label class="form-label" for="topic">Link Text : </label>
              <input type="text" id="textLink" class="form-control" placeholder="Link Text ..." name="heading" required>
              <div class="valid-feedback">
                Looks Good !
              </div>
              <div class="invalid-feedback">
                Please enter a valid link text.
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="topic">Add Link : </label>
              <input type="url" id="newLink" class="form-control" placeholder="https://example.com" name="link" pattern="https://.*" required>
              <div class="valid-feedback">
                Looks Good !
              </div>
              <div class="invalid-feedback">
                Please enter a valid heading.
              </div>
            </div>
            <div class="modal-footer container d-flex justify-content-center align-items-center">
              <button class="btn btn-success ">Add</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </form>
        </div>
      </div>
    </div>
</div>

<% if(reqSection.subsections.length === 0){ %> 
    <div class="container alert-class">
        <div class="alert alert-warning d-flex align-items-center mt-3 " role="alert" >
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div style="width: 100%;">
              No subsection found. Click on button to add a new section.
            </div>
        </div>
    </div>
<% }else{ %> 
    <div class="container mt-3 col-8 offset-2 ">
        <% console.log(reqSection.subsections) %> 
        <% reqSection.subsections.forEach((subsection, i) => { %>
            <div class="container section-class my-2">
                <div id="sectionCount" class="rounded-3" >
                    <%= i+1 %>
                </div>
                <div id="sectioninfo">
                    <% if(subsection.linkText !== 'NOLINK'){ %> 
                      <a href="<%=subsection.heading%>" target="_blank" >   <%= (subsection.linkText)?subsection.linkText:subsection.heading %>    </a>
                    <% }else{ %>
                    <%= subsection.heading %>
                    <% } %> 
                </div>
                <button id="sectionoption" class="btn btn-white btn-sm" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-three-dots-vertical"></i>
                </button>
                <ul class="dropdown-menu">
                  <li>
                      <button type="button" class="btn btn-white btn-sm" data-bs-toggle="modal"data-bs-target="#">
                          Edit
                      </button>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                      <form action="/private/<%= roadmapId %>/<%=reqSection._id%>/<%=subsection._id%>/delete?_method=DELETE" method="POST">
                          <button class="btn btn-white btn-sm">Delete</button>
                      </form>
                  </li>
                </ul>

                <!-- EDIT SUBSECTION MODAL -->
                <div class="modal fade" id="_<%=subsection._id%>editss" tabindex="-1" aria-labelledby="textModal" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                      <div class="modal-body">
                      <form action="/private/<%=roadmapId%>/<%=reqSection._id%>/<%=subsection._id%>/edit?_method=PUT" method="POST" novalidate class="validated-form">
                          <div class="mb-3">
                            <label class="form-label" for="editText">Edit Text/Lik : </label>
                            <input id="editText" class="form-control" placeholder="Text/LinkText ..." name="heading" required value="<%=subsection.heading%>">
                            <div class="valid-feedback">
                              Looks Good !
                            </div>
                            <div class="invalid-feedback">
                              Please enter a valid Text/LinkText.
                            </div>
                          </div>
                          <div class="mb-3">
                            <label class="form-label" for="link">Edit Text/Lik : </label>
                            <input id="link" class="form-control" placeholder="https://example.com (IGNORE IF SUBSECTION IS NOT A LINK) ..." name="link" value="<%=subsection.link%>">
                          </div>
                          <div class="modal-footer container d-flex justify-content-center align-items-center">
                            <button class="btn btn-success ">Done</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          </div>
                      </form>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        <% }) %> 
    </div>
<% } %> 